# Postgres
POSTGRESQL_HOST=localhost
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_PORT=5432
POSTGRESQL_USERNAME=

# Environmnet
NODE_ENV=  #dev ou prod
APP_SECRET=
STORAGE_DRIVER=  #local or s3
API_HOST=
WEB_HOST=
MAIL_DRIVER=  #ethereal or ses
NAME_EMAIL=
ENDERECO_DA_LOJA=
VALOR_FRETE_POR_METRO=0.002

## AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_BUCKET=
AWS_BUCKET_REGION=

AWS_SES_REGION=
AWS_SES_EMAIL=

# Gerencianet
GN_CLIENT_ID=
GN_CLIENT_SECRET=
GN_ENDPOINT=https://api-pix.gerencianet.com.br
GN_CERT=producao-422530-producao.p12
GN_CHAVE_PIX=

#Google
GOOGLE_KEY=
