<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <h2>Recebemos o seu pagamento!</h2>
  <p>Olá, {{ name }}</p>
  <p>Agora, sempre que o status da sua compra atualizar, você será informado(a) via e-mail.</p>
  <p>Agradecemos por comprar com a gente! <br />
    <strong>Equipe Zaycon</strong>
  </p>
</div>