<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <strong>Você acabou de ganhar pontos!!!</strong>
  <p>{{nameClient}} efetuou suas compras!</p>
  <p>Agora é só entrar na nossa plataforma e verificar quantos pontos você tem!</p>
  <br/>
  <p>Agradecemos por participar com a gente nessa jornada. Lembre-se estamos aqui pro que der e vier</p>
    <strong>Equipe Zaycon</strong>
</div>